input[type=text]::-webkit-inner-spin-button, 
input[type=text]::-webkit-outer-spin-button { 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0; 
}

.input-label{
  display: grid;
   
}

 